.header{

    height: 100px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;

}

.header__logo{
width: 300px;
object-fit:cover;
height: 19px; 
margin: 0 -40px;
margin-bottom: -2px;

}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;

    
}

.header__searchIcon{

    height: 21.5px !important;
    background-color: red;
    border-radius: 1.4px;
    margin-left: 0.5px;
}

.header__optionLineOne{
    font-size: 12px;
}

.header__optionLineTwo{
    font-size: 15px;
    font-weight: 700;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}
.header__basketCount{
    margin-left: 5px;
    margin-right: 5px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}